*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

nav {
    border: 1px solid #333;
    width: 50%;
    margin: 1rem auto;
    background-image: url(../img/lil-graydots.png);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #eee;
}


nav a {
    color: #00bff3;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    padding: 0.5rem 1rem;
}

nav a:focus {
    background-color: #f0c808;
    color: black;
}

nav a:hover {
    color: #ff583d;
    background-color: #f0c808;
    background-image: url(../img/lil-yellowdots.webp);
}

.active {
    color: #f0c808;
    background-color: #c5e5ed;
    border-top: 5px solid #00bff3;
    border-bottom: 5px solid #00bff3;
    background-image: url(../img/lil-bluedots.png);
}

nav ul ul a {
    font-size: 1.2rem;
    padding: 1rem 2rem;
}