html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.hamburger,
.close {
    font-size: 2rem;
    color: #00bff3;
}

nav {
    /* border-bottom: 3px solid #00bff3;
    border-top: 3px solid #00bff3;
    margin: 1rem auto; */
    background-color: #eee;
    background-image: url(/img/lil-graydots.png);
    padding: 1rem;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* Positioning the close button and navbar */
    display: flex;
    justify-content: space-between;
    text-align: center;

    /* Animate slide up and down */
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

nav:target {
    transform: translateY(0);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

nav a {
    color: #00bff3;
    text-decoration: none;
    font-weight: 600;
    display: block;
    padding: 0.5rem 1rem;
}

nav a:focus {
    background-color: #F0C808;
    color: black;
}

nav a:hover {
    background-color: #f0c808;
    color: #FF583D;
    background-image: url("/img/lil-yellowdots.webp");
}

.active {
    color: #FF583D;
    background-color: #c5e5ed;
    background-image: url("/img/lil-bluedots.png");
}